<a href="https://colab.research.google.com/github/yerinha/yerinha/blob/main/%EB%A0%88%EC%8A%A86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6장

In [1]:
for i in range(3) :
  print("안산공고 컴퓨터과 최고")
  print("하이")

안산공고 컴퓨터과 최고
하이
안산공고 컴퓨터과 최고
하이
안산공고 컴퓨터과 최고
하이

In [9]:
mylist = ["가위", "바위", "보"]
for i in mylist :
  print(i)

가위
바위
보

In [11]:
mylist = ["가위", 1, 29, "안산", "공고"]
temp = input("입력: ")
if temp in mylist :
  print(temp, "리스트 목록에 있습니다.")

입력: 가위
가위 리스트 목록에 있습니다.

학생 줄 세우기

In [12]:
fact = 1
friends_num = 5

for i in range(1, friends_num + 1, 1):
  fact = fact * i

print("A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 :", fact)

A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 : 120

In [13]:
hap = 0
for i in range(1, 11, 1):
  hap = hap + i

print("1에서 10까지의 합 : ", hap)

1에서 10까지의 합 :  55

In [14]:
i, hap = 0, 0

for i in range(1001, 2001, 2) :
  hap += i

print("1000에서 2000까지의 홀수의 합 :", hap)

1000에서 2000까지의 홀수의 합 : 750000

중첩  for문

In [15]:
for i in range(3) :
  for k in range(2) :
    print("난생처음은 쉽습니다. ^^ (i값:", i,", k값:", k,")")

난생처음은 쉽습니다. ^^ (i값: 0 , k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 0 , k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 1 , k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 1 , k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 2 , k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 2 , k값: 1 )

In [16]:
i = 0
j = 0

for i in range(2, 10) :
  for j in range(1, 10) :
    print(i, "x", j, "=", i * j)
  print("")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [17]:
for i in range(0, 3, 1) :
  print(i, ": 난생처음 파이썬은 재미있습니다. ^^")

0 : 난생처음 파이썬은 재미있습니다. ^^
1 : 난생처음 파이썬은 재미있습니다. ^^
2 : 난생처음 파이썬은 재미있습니다. ^^

In [20]:
i = 0
while (i < 3) :
  print(i" : 난생처음 파이썬은 재미있습니다. ^^")
  i = i + 1

SyntaxError: ignored

In [30]:

while True :
  num1 = int(input("숫자1 ==> "))
  if num1 == 0 :
   break
  num2 = int(input("숫자2 ==> "))

  hap = num1 + num2
  print(num1, "+", num2, "=", hap)

숫자1 ==> 40
숫자2 ==> 10
40 + 10 = 50
숫자1 ==> 20
숫자2 ==> 50
20 + 50 = 70
숫자1 ==> 10
숫자2 ==> 0
10 + 0 = 10
숫자1 ==> 0

주사위 3개를 동시에 던져 동일한 숫자 나오기

In [35]:
import random

count = 0

while True :
  r1 = random.randint(1,6)
  r2 = random.randint(1,6)
  r3 = random.randint(1,6)

  count += 1

  if r1==r2==r3 :
    break

print("3개의 주사위는 모두", r1, "입니다")
print("같은 숫자가 나오기까지", count, "번 던졌습니다.")

3개의 주사위는 모두 3 입니다
같은 숫자가 나오기까지 44 번 던졌습니다.

컴퓨터와 인간 숫자맞히기 대결

In [41]:
import random
com_list = [1,2,3,4,5,6,7,8,9]
com_num, usr_num = [], []

def usr_fun() :
  usr = input("3개의 숫자를 입력(1~9까지) ==> ")
  for i in range(0,5,2) :
    usr_num.append(int(usr[i]))

# 컴퓨터 - 3개의 중복되지 않는 숫자 만들기  
for i in range(3) :
  r = random.choice(com_list)
  com_list.remove(r)
  com_num.append(r)

print("** 야구 게임 ** ")
#스트라이크 및 볼 판정 ---------------------------
strike, ball = 0, 0
while True :
  usr_num.clear()
  usr_fun()
  for i in range(3) :
    if com_num[i] == usr_num[i] :
      strike = strike + 1
    elif usr_num[i] in com_num :
      ball = ball + 1
  print(strike, "스트라이크", " : ", ball, "볼")
  if strike == 3 : 
    print("축하합니다.")
    break
  strike, ball = 0, 0

** 야구 게임 **
3개의 숫자를 입력(1~9까지) ==> 3,4,6+
1 스트라이크  :  0 볼
3개의 숫자를 입력(1~9까지) ==> 3,4,2
1 스트라이크  :  1 볼
3개의 숫자를 입력(1~9까지) ==> 3,2,5
3 스트라이크  :  0 볼
축하합니다.